body, html {
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0 auto;
}

.pdfPage {
  width: 120%;
  max-width: 120%;
}

.pdfCanvas {
  width: 100%;
  max-width: 100%;
}

#pdfDiv {
  width: 82%;
  max-width: 82%;
  height: 750px;
  max-height: 750px;
  border: 2px solid black;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: red blue;
  margin:  30px 100px;
  border-top-left-radius: 15px;
}

::-webkit-scrollbar {
  background: #343a40;
}

::-webkit-scrollbar-thumb {
  background: gray;
}

#heading {
  background-color: darkgreen;
  color: whitesmoke;
  width: 100%;
  height: 150px;
  padding: 20px;
  margin: 0px;
  text-align: center;
}

#rowing {
  background-color: darkgreen;
  width: 100%;
  height: 150px;
  padding: 0;
  margin: 0px;
}

.navbar {
  background-color: darkgreen;
  height: 50px;
  color: whitesmoke;
  text-align: center;
}

#navtext {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.linko {
  color: whitesmoke;
  margin: 0 20px;
  letter-spacing: 2px;
}

.linko:hover {
  color: yellow;
  text-decoration: none;
}

.activeLink {
  color: yellow;
}

.bannerDiv {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: center;
}

#homeDiv {
  padding: 20px;
}

.wrapper {
  padding: 50px;
}

.centered {
  text-align: center;
  margin-bottom: 40px;
}

#receipt {
  width: 500px;
}

.fading {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.styleDiv {
  background: #868e96;
}

.dashboard-image {
  height: 250px;
  margin: 5px;
  display: inline-block;
}

.top-row {
  margin-top: -150px;
}

#info-block {
  display: inline-block;
  max-width: 200px;
  line-height: 100px;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 50px;
}

.spacer {
  display: inline-block;
}

#logoImg {
  float: left;
  z-index: 2;
  clear: left;
}

.partner-div {
  margin: 10px 60px;
  border: none;
}

.partnerImg {
  max-height: 150px;
  padding-top: auto;
  padding-bottom: auto;
}

.marginer {
  margin-top: 20px;
}